
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("bg6.jpg");
    background-size: cover;
}

header {
    background-color: black;
    color: purple;
    padding: 10px 20px;
    border: 2px sloid white;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
}

.logo {
    margin-right: auto;
}

.logo img {
    height: 190px; 
    width: 190%; 
}


header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#86c0e7
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;


}

nav a {
    color: palevioletred;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    color: rgb(243, 243, 247);
    font-size: 200%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 200px;
    text-align: center;
    background-color: rgb(26, 21, 22);
}

.product img {
    width: 100%;
    height: min-content;
    border-radius: 5px;
}


button {
    padding: 5px 10px;
    cursor: pointer;
    font-family: Georgia;
    font-weight: bolder;
    color: rgb(20, 19, 20);
}

.cart {
    margin-top: 40px;
    border-top: 2px solid #000;
    padding-top: 20px;
    color: rgb(225, 228, 231);
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #54378a;
    color: white;
}
