body {
    padding:0;
    margin: 0;
    font-family:  sans-serif;;
    background-image: url("bg2.jpg");
    background-size: cover;
}
.signup-form {
      width: 300px;
      height: 330px;
      padding: 20px;
      margin: 8% ;
      text-align:center;


}
.signup-form h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    margin-bottom: 30px;

}
.input-box{
    padding: 10px;
    width: 90%;
    margin: 10px 0;
    border: 0;
    border-radius: 20px;
    outline:none;  
}
.button{
    font-size: 15px;
    margin: 10px 10px;
    padding: 100px;
    width: 100%;
    border: none;
    color: #0e0c0c;
    border-radius: 200px;
    cursor: pointer;
    
}
.signup-btn {
    background-color:rgb(143, 56, 85);
    padding:10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.signup-form button:hover{
    color:whitesmoke;
}
